@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
:root{
    --color-primary : #03312E;
    --color-primary-variant : #549F93;
    --color-white : #fff;
    
    --polygon-shape-upper : polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    --polygon-shape-lower : polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);

    --color-light : rgba(255,255,255,0.75);
    --transition : 500ms linear;
}
header{
    color: var(--color-white);
    justify-content: space-around;
    overflow: hidden;
}
header nav{
    height: 4rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    z-index: 1000;
    transition: var(--transition);
}
.nav__scroll{
    background-color: var(--color-light);
    backdrop-filter: blur(15px);
    color: var(--color-primary) !important;
}
.nav__scroll ul li a{
    color: var(--color-primary);
}
header nav img{
    height: 70%;
    margin-right: 1rem;
    transition: var(--transition);
}
header nav ul{
    display: flex;
    gap: 3rem;
}
header nav ul li a{
    color: var(--color-white);
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.header__content__container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
    /* background : linear-gradient(rgba(0,0,0,0,5),rgba(0,0,0,0,5)),url('../assets/sean-pollock-PhYq704ffdA-unsplash.jpg'); */
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bg_1.jpg');
    background-attachment: fixed;
    background-size: cover;
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 0% 100%);
    height: 115vh;
}
.header__content__container img{
    width: 15rem;
}
.header__content__container h2{
    font-size: 2rem;
}
.header__content__container p{
    text-align: center;
    margin: 1rem 3rem;
}
.header__content__container .btn__container{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
}
.header__content__container .btn__container i{
    margin-left: 0.4rem;
}
.btn{
    background-color: transparent;
    border: 1px solid white;
    text-align: center;
    border-radius: 4px;
    color: white;
    padding: 1rem 0;
    min-width: 10rem;
    transition: var(--transition);
}
.btn:hover{
    background-color: var(--color-primary);
    border: 1px solid var(--color-primary);
    letter-spacing: 1px;
}

.btn__primary{
    background-color: white;
    color: #03312E;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.btn__primary:hover{
    color: white;
    letter-spacing: 4px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--color-primary);
}
.container h2{
    font-size: 2em;
}
.container small{
    display: block;
    font-weight: 100;
    font-size: 1.2rem;
}

.works__portion{
    padding: 10rem 1rem;
}

.works__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
    overflow: hidden;
}
.work__item__container{
    height: 25rem;
}
.work__item{
    background-color: var(--color-primary-variant);
    color: var(--color-white);
    -webkit-box-shadow: 1px -2.5px 10.5px 2.5px #ddd;
-moz-box-shadow: 1px -2.5px 10.5px 2.5px #ddd;
box-shadow: 1px -2.5px 10.5px 2.5px #ddd;
    width: 20rem;
    padding: 2rem 1rem 4rem;
    border-radius: 4px;
    position: relative;
}
.work__item p{
    font-weight: 200;
    font-size: 0.8rem;
}
.work__item h4{
    font-size: 1.4rem;
    transition: var(--transition);
}
.work__item img{
    height: 15rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--transition);
}
.work__item img:hover{
    height: 17rem;
}

.team__portion{
    padding: 15rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bg_2.jpg');
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    color: var(--color-white);

}

.team__container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    margin-top: 2rem;
}
.team__member__container{
    background: rgba(255,255,255,0.1);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    border-radius: 8px;
    padding: 0.5rem 0.5rem 2rem;
    text-align: center;
    color: var(--color-light);
}
.team__container img{
    width: 16rem;
    border-radius: 8px;
    filter: grayscale(50%);
}
.team__member__container h2{
    font-weight: 400;
    font-size: 1.7rem;
}
.team__member__container p{
    font-weight: 100;
}


.reviews__portion{
    padding: 10rem 1rem;
}

.reviews__container{
    margin-top: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
}
.review__item{
    -webkit-box-shadow: 3px 3px 10px 3px #ddd;
    -moz-box-shadow: 3px 3px 10px 3px #ddd;
    box-shadow: 3px 3px 10px 3px #ddd;
    width: 20rem;
    border-radius: 8px;
    padding: 3rem 1rem;
    transition: var(--transition);
    cursor: pointer;
}
.review__item:hover{
    transform: translateY(-1rem);
}
.review__item p{
    font-size: 0.9rem;
    text-align: justify;
    font-weight: 200;
}
.review__item i{
    color: orange;
    width: 2rem;
    height: 2rem;
}
.reviewer__content{
    display: flex;
    margin-top: 2rem;
}
.reviewer__content img{
    width: 3rem;
    border-radius: 50%;
}
.reviewer__content .reviewer__desc{
    margin-left: 1rem;
}

.gallery__portion{
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bg_3.jpg');
    background-size: cover;
    background-attachment: fixed;
    clip-path: polygon(0% 10%, 100% 0%, 100% 90%, 0% 100%);
    color: var(--color-white);
    position: relative;
}
.navi__btn{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    transition: var(--transition);
    cursor: pointer;
}
.right__btn{
    right: 2rem;
}
.navi__btn:hover{
    color: #03312E;
    background-color: var(--color-light);
}
.left__btn{
    left: 2rem;
}

.brands__portion{
    height: 30rem;
}
.brands__container{
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.brands__container img{
    width: 12rem;
}
.contact__portion{
    padding: 15rem 1rem;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/bg_4.jpg');
    clip-path: polygon(0% 10%, 100% 0%, 100% 100%, 0% 100%);
    background-size: cover;
    background-attachment: fixed;
    color: var(--color-white);

}
.contact__container{
    margin-top: 2rem;
}
.contact__container input[type="text"]{
    display: block;
    margin-top: 1rem;
    min-width: 25rem;
    padding: 1rem 2rem;
    background-color: transparent;
    border: 1px solid var(--color-light);
    border-radius: 8px;
    color: var(--color-white);
}
.contact__container input[type="text"]::placeholder{
    color: white;
    font-weight: 200;
    letter-spacing: 1px;
}
.contact__container input[type="submit"]{
    min-width: 25rem;
    padding: 1rem 2rem;
    margin-top: 2rem;
    border-radius: 8px;
    letter-spacing: 2px;
    font-size: 1rem;
    transition: var(--transition);
    cursor: pointer;
}
.contact__container input[type="submit"]:hover{
    background-color: var(--color-primary);
    color: white;
    letter-spacing: 4px;
}
.contact__container label{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 1rem;
    font-weight: 300;
}
.contact__container input[type="checkbox"]{
    accent-color: var(--color-primary);
}

footer{
    background-color: var(--color-primary);
    height: 40rem;
}
/* ==================MEDIA QURIES (MEDIUM DEVICES)=============== */

@media screen and (max-width:1024px){
    
    header nav ul{
        gap: 1rem;
    }
}

/* ==================MEDIA QURIES (SMALL DEVICES)=============== */

@media screen and (max-width:600px) {
    header nav{
        display: none;
    }
    .right__btn{
        right: 1rem;
    }
    .left__btn{
        left: 1rem;
    }
    .gallery__portion h2{
        margin-bottom: 15rem;
    }
}